<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация через Яндекс</title>
    <script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-with-polyfills-latest.js"></script>
</head>
<body>
    <h2>Авторизация через Яндекс</h2>
    <a href="/login">Войти через Яндекс</a>
</body>
<script>
    window.YaAuthSuggest.init(
    {
      client_id: "d29d44602d234bbd8903dea844f879e6",
      response_type: "token",
      redirect_uri: "http://localhost:5000/auth/callback"
    },
    "http://localhost",
    { view: "default" }
  )
  .then(({handler}) => handler())
  .then(data => console.log('Сообщение с токеном', data))
  .catch(error => console.log('Обработка ошибки', error))
</script>
</html>
